/* Define a imagem de fundo */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('Neymar_Santos_FC.jpg.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Centraliza o botão na tela */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para o contêiner do vídeo */
.video-container {
    display: none; /* Oculta o contêiner inicialmente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

iframe {
    width: 80%;
    height: 80%;
    border: none;
}
